@import "tailwindcss";

#root {
  --container-height: 100vh;
  --dynamic-container-height: 100dvh;
  width: 100%;
  height: var(--dynamic-container-height, --container-height);
  scroll-margin-top: 4rem;
}

@theme {
  --transition-duration-250: 250ms;
  --animate-infinite-scroll: infinite-scroll 30s linear infinite;
  --animate-top-fade-in: top-fade-in 0.5s ease both;
  --animate-left-fade-in: left-fade-in 0.5s ease both;
  @keyframes infinite-scroll {
    0% {
      translate: 0%;
    }
    100% {
      translate: -100%;
    }
  }
  @keyframes top-fade-in {
    0% {
      opacity: 0;
      transform: translateY(-1rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes left-fade-in {
    0% {
      opacity: 0;
      transform: translateX(-1rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
@utility smooth-timing {
  @apply duration-250 ease-in-out;
}
@custom-variant hover (&:hover);
