@import "tailwindcss";

#root {
  --container-height: 100vh;
  --dynamic-container-height: 100dvh;
  width: 100%;
  height: var(--dynamic-container-height, --container-height);
  scroll-margin-top: 4rem;
}

@theme {
  --transition-duration-250: 250ms;
}
@utility smooth-timing {
  @apply duration-250 ease-in-out;
}
