@import "tailwindcss";

#root {
  --container-height: 100vh;
  --dynamic-container-height: 100dvh;
  width: 100%;
  height: var(--dynamic-container-height, --container-height);
  scroll-margin-top: 4rem;
}
