@import "tailwindcss";

#root {
  --container-height: 100vh;
  --dynamic-container-height: 100dvh;
  width: 100%;
  height: var(--dynamic-container-height, --container-height);
  scroll-margin-top: 4rem;
}

@theme {
  --transition-duration-250: 250ms;
  --animate-infinite-scroll: infinite-scroll 30s linear infinite;
  @keyframes infinite-scroll {
    0% {
      translate: 0%;
    }
    100% {
      translate: -100%;
    }
  }
}
@utility smooth-timing {
  @apply duration-250 ease-in-out;
}
@custom-variant hover (&:hover);
